* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    width: 177px;
    border-radius: 8px;
    background-color: #E55473;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-width {
    width: 1440px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
}

/* start a banner section  */

.banner {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-header {

    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-section-left {
    width: 708px;
}

.banner-section-right {
    background-image: url(../image/pngwing10.png);
    background-repeat: no-repeat;
    width: 635px;
    height: 800px;

}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.banner-img {
    width: 635px;
}

/* main */
main {
    background-color: #FFF;
    padding: 50px;
}

/* Our Featured Flowers sectio  */
.card-section {
    display: flex;
    gap: 24px;
    margin-top: 48px;

}

.single-card1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.single-card2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.single-card3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.card-img {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0 76px;

}

.img-description {
    display: block;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}


/* service-section */
.service-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
    margin: 128px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
}

.delevery-description {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.delevery-img {
    width: 88px;
    height: 88px;

}
/* extra section  */
.extra-card-section{
display: flex;
justify-content: space-between;
gap: 40px;
}
.card-section1{
background-image: url('../image/h1-img-1.jpg');
background-repeat: no-repeat;
width: 720px;
height: 320px;
border-radius: 5px;
}
.card-section2{
background-image: url('../image/h1-img-2.jpg');
background-repeat: no-repeat;
width: 720px;
height: 320px;
border-radius: 5px;
}
.title-card {
    font-size: 50px;
    margin: 75px 0 0 50px;
    color: #f1483a;
}
.card-description-1{
    margin: 75px 0 0 50px;
    margin-top: 30px;
  
}
.items{
    margin: 70px 0 0 50px;
}
.items li{
list-style-type: none;
line-height: 45px;
}
.items i{
    padding: 0 10px;
    color: #f1483a;
}


/* short banner service section   */

.short-banner-section {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.short-banner-section-left {
    width: 594px;
    text-align: center;
}

.short-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 24px;

}
.banner-text-color{
    color: #E55473;
}

.short-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 34px;
}

.short-banner-section-right {
    background-image: url(../image/pngwing8.png);
    background-repeat: no-repeat;
    width: 318px;
    height: 420px;
    margin-left: 186px;

}

/* image gallery section  */

.img-container img {
    width: 330px;
    height: 396px;
    margin-left: 21px;

}

.img-container {
    margin-top: 34px;
}

/* contact section  */
.contact {
    background-image: url(../image/Rectangle9.png);
    background-repeat: no-repeat;
    height: 449px;
    margin: 128px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-header input{
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
background: #FFF;
margin-right: 15px;
margin-top: 48px;
color: rgba(39, 39, 39, 0.60);
padding: 0 5px;
font-size: 16px;
font-weight: 400;
   
}


.contact-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 16px;
}

.contact-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
   
    
}


/* footer section  */
footer {
height: 449px;
background-color: #111010;
display: flex;
justify-content: center;
align-items: center;
}
.footer-header{
    text-align: center;
}

.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
   
}
.footer-title-color{
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.footer-date{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}